/robocode.api/target/*
/robocode.battle/target/*
/robocode.content/target/*
/robocode.core/target/*
/robocode.distribution/*
!/robocode.distribution/target/naval-robocode-0.9.0-setup.jar
/robocode.host/target/*
/robocode.installer/target/*
/robocode.repository/target/*
/robocode.roborumble/target/*
/robocode.samples/target/*
/robocode.sounds/target/*
/robocode.tests/target/*
/robocode.tests.robots/target/*
/robocode.ui/target/*
/robocode.ui.editor/target/*

